.header {
  grid-area: header;
  background-color: rgb(23, 230, 23);
  display: flex;
  justify-content: space-between;
}
.header img {
  width: 80px;
}
.link {
  margin-top: 20px;
}
.link a img{
width: 35px;
height: 40px;
margin-left: 20px;
}