.item {
  color: rgb(39, 106, 160);
}
.item img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.like span{
margin-right: 7px;
}
.likebnt {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.likebnt img {

  width: 40px;
  height: 35px;
  
}